/*
    px
    800x600
    1920x1080

    100px??

    % - процент от размера родительского элемента

    // Для текста???
    em - процент от размера шрифта родительского элемента
    
    при открытии сайта размером шрифта по умолчанию является 1 rem (при инициализации сайта)
    rem 
    
    h1 - 2em
    h2 - 1.5em
    h3 - 1em

    v - viewport
    vh - viewport height
    vw - viewport width
*/

html {
    font-size: 10px;
}

body {
    margin: 0;
    font: 2rem sans-serif;
}
h2, p {
    margin: 0;
}
.container {
    background-color: bisque;
    font-size: 0;
    width: 100rem;
    padding: 5rem;
    margin: auto;
    min-height: 100vh;
}
.container__item {
    font-size: 2rem;
    width: calc((100% - 4rem) / 3);
    padding: 2rem;
    border: 1px solid;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 2rem;
    min-height: 20rem; /*не менее чем 200px*/
    max-height: 50rem; /* не более 500px */
    height: 300px;
    vertical-align: top;
    background-color: burlywood;
    overflow: auto;
}
.container__item h2 {
    font-size: 1.5em;
}
.container__item small {
    color: peru;
    font-size: .7em;
}
.container__item_mb-0 {
    margin-bottom: 0;
}
.container__item_mr-0 {
    margin-right: 0;
}

table {
    font-size: 2rem;
    border: 1px solid;
    margin-bottom: 50px;
    border-collapse: collapse; /* separate | collapse */
    width: 100%;
}
/* tbody tr {
    background-color: burlywood;
} */
tbody tr:hover {
    background-color: burlywood;
}
th, td {
    border: 1px solid;
    padding: 1rem;
    vertical-align: top;
}
/* 
td {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
} */
.cell1 {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}
.cell2 {
    vertical-align: middle;
}
.cell5 {
    max-width: 300px;
    /* max-height: calc(3rem * 1.2); */
    min-height: calc(3rem * 1.2);
    
}
.cell5>div {
    max-height: calc(6rem * 1.2);
    overflow: auto;
}

.cell4 {
    max-width: 50px;
    text-overflow: clip;
    overflow: hidden;
    box-sizing: border-box;
}
.text {
    font-size: 2rem;
    background-color: burlywood;
    margin-bottom: 50px;
    width: max-content;
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 2rem;
}
.text__item {
    margin-bottom: 1rem;
    background-color: aliceblue;
    display: block;
    /* width: max-content; */
}