doctype html 
html 
    head
        title Препроцессоры!!!!
        meta(charset="utf-8")
        style.
            body {
                margin: 0;
                font-family: sans-serif;
            }
        link(rel="stylesheet" href="style.css")
    body
        .calendar
            .week-day Пн
            .week-day Вт
            .week-day Ср
            .week-day Чт
            .week-day Пт
            .week-day Сб
            .week-day Вс
            - for (let day = 1; day <= 28; day++)
                .day= day
